.header-top {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1000;

  &__logo {
    background-color: $w;
    border-radius: 0 0 .5rem .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 7rem;
    max-height: 5rem;
    padding: .3rem .5rem .5rem .5rem;

    @include mq(md) {
      padding: .5rem 1rem 1rem 1rem;
    }
  }
}
.header-lang {
  min-width: 3.6rem;
  color: $blue;

  &__item {
    padding: 5px;
    font-size: $menuLittleFont;
      a {
        color: $blue;
      }

    &:hover {
      a {
        color: $w;
      }
      background-color: $blue-light;
    }

  }
}
.header-menu {
  justify-content: center;
  flex-direction: column;
  display: flex;

  li {
    a {
      color: $blue;
    }
  }

  @include mq(md) {
    justify-content: space-around;
    flex-direction: initial;
    align-items: initial;

    li {
      a {
        color: $w;
      }
    }
  }
}
.header-nav-box {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: $w;
  border-radius: .5rem;
  border: 1px solid $blue;
  margin: .3rem auto;
  width: 90%;
  padding: 1rem 0;
  @include mq(sm){
    margin-top: 1rem;
  }
  @include mq(md){
    display: flex;
    background-color: transparent;
    border: none;
    padding: 0;
    margin-top: 0;
  }

  &__cont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @include mq(md){
      flex-direction: row;
    }
  }
}

.header-red {
  height: 2.8rem;
  background-image: url("../img/bg/elem/bg-header.png");
  background-repeat: round;
  flex: 0 0 auto;

  @include mq(xs){
    height: 3.4rem;
  }
  @include mq(sm){
    height: 4rem;
  }
  @include mq(md){
    height: 5.8rem;
  }
}
