// ---- buttons text -----
.btn-text {
  color: $w;
  text-transform: uppercase;
  font-size: $mdFont;
  font-family: $RubikMedium;

  &--blue {
    color: $blue;
  }

  &--sm {
    font-size: $smFont;
  }
  &--md {
    font-size: $mdFont;
  }
}

// ----- elements title -----
.title-text {
  font-size: $titleLgFont;

  &__md {
    font-size: $titleMdFont;
    text-transform: uppercase;
    color: $blue;
    text-align: center;
    padding: 2rem 0;

    &--white {
      color: $w;
    }
  }
  &__sm {
    font-size: $lgFont;
    color: $blue;
  }

  &__xs {
    font-size: $baseFont;

    &--black {
      color: $b;
    }
  }
}

// ----- price text ----
.price-text {
  position: relative;
  color: $blue;
  text-transform: uppercase;

  &--red {
    color: $red;
  }

  &__discount {
    &:before {
      content: '';
      position: absolute;
      @extend .elemCenter;
      width: 100%;
      height: 2px;
      background-color: $red;
    }
  }

  &__currency {
    color: $blue;
    padding: 0 .25rem;
    font-size: $smFont;

    &--red {
      color: $red;
    }
  }

}

// ----- common text -----

.desc-text {
  font-size: $descFont;
  font-family: $RubikRegular;

  &--black {
    color: $b;
  }
  &--red {
    color: $red;
  }
  &--blue {
    color: $blue;
  }

  &__md {
    font-size: $descMdFont;
  }

  &__name {
    font-style: italic;
    color: $b;
    font-size: $baseFont;
    padding-right: .5rem;
  }
  &__city {
    color: $blue;
    font-style: italic;
    font-size: $baseFont;
  }

}


