// ---- common -----
.padding-y {
  padding: 1rem 0;
  @include mq(lg) {
    padding: 2rem 0;
  }
}
.margin-text-y {
  margin-bottom: 1rem;
}
.margin-text {
  margin: .5rem 0;
}
.bg-img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.close {

  &:before {
    content: '\f410';
    @extend .fontAwesomeFree;
    color: $red;
    position: absolute;
    right: .3rem;
    top: .3rem;
    font-size: $baseFont;
  }
  @include mq(md){
     &:before {
       color: $blue-light;
     }
  }
  &:hover:before {
    color: $red;
  }
}
.filter {
  background-color: rgba(0,0,0, .3);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  display: none;
}

// ----- logo -----
.logo {
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: 0 auto;

  &__footer {
    max-width: 4.5rem;
    max-height: 2.7rem;
  }
}

// ----- menu ------
.menu {
  font-family: $RubikMedium;
  display: flex;
  align-items: center;

  &__auth {

  }

  &__link {
    text-transform: uppercase;
    text-align: center;
    font-size: $menuLinksFont;

    &:hover {
      color: $blue-light;
    }
  }

  &__contacts {
    font-family: $RubikRegular;
    font-size: $menuLinksFont;
    text-transform: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
      margin: .3rem auto;
    }

    @include mq(sm) {
      border-left: 1px solid $blue-light;
      flex-direction: initial;
      justify-content: initial;
      align-items: initial;
      flex-wrap: wrap;
    }

  }

  &__info {
    font-family: $RubikRegular;
    font-size: $menuLinksFont;
    text-transform: none;

    a {
      display: block;
      margin: .3rem auto;
      text-align: center;
    }
    @include mq(sm) {
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        display: initial;
        text-align: left;
        margin: 0;
      }
    }
  }
}
// ---- socials ----
.socials {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    padding: 0 .4rem;
    color: $blue;
    &:hover {
      color: $blue-light;
    }

    &:before {
      @extend .fontAwesomeBrands
    }
    @include mq(md) {
      color: $w;
      justify-content: space-between;
    }
  }

  &__footer {
    a {
      color: $w;
    }
  }

  &__fb {
    &:before {
      content: "\f082";
    }
  }
  &__yt {
    &:before {
      content: "\f431";
    }
  }
  &__inst {
    &:before {
      content: "\f16d";
    }
  }
}
// ---- lang-menu ----
.lang-menu {
  background-color: transparent;
  font-size: $menuLittleFont;
  display: flex;
  justify-content: center;
  align-items: center;

    &:before {
      content: '\f425';
      font-size: 1rem;
      padding-right: .4rem;
      @extend .fontAwesomeBrands;
      cursor: pointer;
      color: $blue;

      @include mq(md) {
        color: $w;
      }
    }

    &:hover:before {
      transform: translateY(-2px);
    }

    button {
      background-color: transparent;
      cursor: pointer;
      color: $blue;

      @include mq(md) {
        color: $w;
      }
    }
}