// -------- POP-UP ---------
.aunt {
  padding: 2rem;
  border: 2px solid $blue-light;
  position: fixed;
  @extend .elemCenter;
  background-color: $w;
  border-radius: .3rem;
  z-index: 99999;
  background-color: $w;
  width: 98%;
  display: block;
  margin: 0 1rem;

  @include mq(xs) {
    width: 70%;
  }
  @include mq(sm) {
    max-width: 30rem;
    max-height: 20rem;
  }
}

// ----- forms ----
.form-group {
  margin: .5rem auto;

  input {
    color: $b !important;
  }
  input[placeholder] {
    font-family: $RubikRegular;
  }
}

// ----- price -----
.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price-box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    display: flex;
    align-items: baseline;
  }

  &__main {
    margin-right: 5%;
  }
}

// ---- filter - store -----
.filter-store  {
  background-color: $bgBlue;
  padding-bottom: .5rem;
  @include mq(sm){
    padding-bottom: 2rem;
  }

  &__bg {
    display: none;
    @include mq(sm){
      margin-bottom: -1.3rem;
      display: block;
    }
  }

  &__box {
    padding: .3rem;
    background-color: transparent;
    max-width: 40rem;
    border-radius: .5rem;
    margin: 0 auto;

    @include mq(sm){
      padding: 2rem;
      background-color: rgba(255,255,255, .1);
    }
  }
}

.filter-store-lang {
  margin-bottom: .5rem;
}

.filter-store-age,
.filter-store-gender {
  margin-bottom: 1rem;
  @include mq(sm){
    margin-bottom: 0;
  }
}

.filter-store-box {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include mq(sm){
    margin-bottom: 0;
  }
}

.filter-store-words {
  width: 100%;
  position: relative;
  padding: .5rem;
}

