.top-slider {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;

  .slick-prev, slick-next {
    display: none !important;
  }
}
.top-slider-box {
  position: absolute;
  top: 28%;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  &__img {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    img {
      width: 95%;
      margin-top: -17%;
    }

  }
  &__content {
    max-width: 35rem;
  }
}