// ---- common -----
.padding-y {
  padding: 1rem 0;
  @include mq(lg) {
    padding: 2rem 0;
  }
}
.margin-text-y {
  margin-bottom: 1rem;
}
.margin-text {
  margin: .5rem 0;
}
.bg-img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.close {

  &:before {
    content: '\f410';
    @extend .fontAwesomeFree;
    color: $red;
    position: absolute;
    right: .3rem;
    top: .3rem;
    font-size: $baseFont;
  }
  @include mq(md){
     &:before {
       color: $blue-light;
     }
  }
  &:hover:before {
    color: $red;
  }
}
.filter {
  background-color: rgba(0,0,0, .3);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  display: none;
}

// ----- logo -----
.logo {
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: 0 auto;

  &__footer {
    max-width: 4.5rem;
    max-height: 2.7rem;
  }
}

// ----- menu ------
.menu {
  font-family: $RubikMedium;
  display: flex;
  align-items: center;

  &__auth {

  }

  &__link {
    text-transform: uppercase;
    text-align: center;
    font-size: $menuLinksFont;

    &:hover {
      color: $blue-light;
    }
  }

  &__contacts {
    font-family: $RubikRegular;
    font-size: $menuLinksFont;
    text-transform: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
      margin: .3rem auto;
    }

    @include mq(sm) {
      border-left: 1px solid $blue-light;
      flex-direction: initial;
      justify-content: initial;
      align-items: initial;
      flex-wrap: wrap;
    }

  }

  &__info {
    font-family: $RubikRegular;
    font-size: $menuLinksFont;
    text-transform: none;

    a {
      display: block;
      margin: .3rem auto;
      text-align: center;
    }
    @include mq(sm) {
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        display: initial;
        text-align: left;
        margin: 0;
      }
    }
  }
}
// ---- socials ----
.socials {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    padding: 0 .4rem;
    color: $blue;
    font-size: 1.5rem;

    @include mq(sm) {
      font-size: 1rem;
    }
    &:hover {
      color: $blue-light;
    }

    &:before {
      @extend .fontAwesomeBrands
    }
    @include mq(md) {
      color: $w;
      justify-content: space-between;
    }
  }

  &__footer {
    a {
      color: $w;
    }
  }

  &__fb {
    &:before {
      content: "\f082";
    }
  }
  &__yt {
    &:before {
      content: "\f431";
    }
  }
  &__inst {
    &:before {
      content: "\f16d";
    }
  }
}
// ---- lang-menu ----
.lang-menu {
  background-color: transparent;
  font-size: $menuLittleFont;
  display: flex;
  justify-content: center;
  align-items: center;

    &:before {
      content: '\f425';
      font-size: 1rem;
      padding-right: .2rem;
      @extend .fontAwesomeBrands;
      cursor: pointer;
      color: $blue;

      @include mq(md) {
        color: $w;
      }
    }

    &:hover:before {
      transform: translateY(-2px);
    }

    &__button {
      background-color: transparent;
      cursor: pointer;
      color: $blue;

      @include mq(md) {
        color: $w;
      }
    }
}

// ----- input radio ------
input[type=radio] {
  display: none;
}
.radio-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  li {
    margin: .5rem auto;
    min-width: 9rem;
    @include mq(xs){
      min-width: 10rem;
    }
    @include mq(sm){
      margin: 1rem auto;
    }
  }
}
.checkbox+label {
  color: $w;
  font-family: $RubikRegular;
  background-color: $blue-light;
  width: 100%;
  text-align: center;
  border-radius: .3rem;
  padding: .4rem 0;
  -webkit-box-shadow: 0px 6px 15px -8px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 6px 15px -8px rgba(0,0,0,0.5);
  box-shadow: 0px 6px 15px -8px rgba(0, 0, 0, 0.5);
  &:hover {
    color: $blue;
    background-color: $w;
    font-family: $RubikMedium;
  }
}
.checkbox:checked+label {
  font-family: $RubikMedium;
  -webkit-box-shadow: 0px 6px 15px -8px rgba(0,0,0,0);
  -moz-box-shadow: 0px 6px 15px -8px rgba(0,0,0,0);
  box-shadow: 0px 6px 15px -8px rgba(0, 0, 0, 0);
  color: $blue;
  background-color: $w;
  width: 100%;
  text-align: center;
  &:before {
    content: "\f058";
    @extend .fontAwesomeFree;
    padding-right: .1rem;
    margin-top: -.2rem;
  }
}

.list {
  width: 100%;
  @include mq(md){
    width: 49%;
  }


  &__title {
    font-family: $RubikMedium;
    border-radius: .3rem;
    padding: .4rem 1rem;
    background-color: $w;
    color: $blue;
    width: 90%;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    min-width: 14rem;
    @include mq(md){
      width: 100%;
      margin: 0;
    }

    &::after {
      right: 1rem;
      top: 0;
      bottom: 0;
      position: absolute;
      margin: auto 0;
    }
  }

  &__wrap {
    width: 90%;
    color: $blue;
    cursor: pointer;
    margin: .3rem auto;

    @include mq(md) {
      width: 100%;
    }

    li {
      font-family: $RubikMedium;
      padding: .2rem 1rem;
      &:hover {
        background-color: $blue-light;
        color: $w;

      }
    }


  }
}

