// ---- common -----
.padding-y {
  padding: 2rem 0;
}
.margin-text-y {
  margin-bottom: 1rem;
}
.margin-text {
  margin: .5rem 0;
}
.bg-img {
  position: relative;
  left: 0;
  bottom: -2rem;
  z-index: 1;
}
.close {

  &:before {
    content: '\f410';
    @extend .fontAwesomeFree;
    color: $blue-light;
    position: absolute;
    right: .3rem;
    top: .3rem;
    font-size: $baseFont;
  }

  &:hover:before {
    color: $red;
  }
}

// ----- logo -----
.logo {
  width: 4.7rem;
  height: 2.7rem;
}

// ----- menu ------
.menu {
  font-family: $RubikMedium;
  display: flex;
  align-items: center;

  &__auth {

  }

  &__link {
    text-transform: uppercase;
    text-align: center;
    font-size: $menuLinksFont;

    &:hover {
      color: $blue-light;
    }
  }

  &__contacts {
    font-family: $RubikRegular;
    font-size: $menuLinksFont;
    text-transform: none;
    border-left: 1px solid $blue-light;
    display: flex;
    flex-wrap: wrap;
  }

  &__info {
    font-family: $RubikRegular;
    font-size: $menuLinksFont;
    text-transform: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
// ---- socials ----
.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    padding: 0 .4rem;
    &:before {
      @extend .fontAwesomeBrands
    }
  }
  &__fb {
    &:before {
      content: "\f082";
    }
  }
  &__yt {
    &:before {
      content: "\f431";
    }
  }
  &__inst {
    &:before {
      content: "\f16d";
    }
  }
}
// ---- lang-menu ----
.lang-menu {
  background-color: transparent;
  font-size: $menuLittleFont;
  display: flex;
  justify-content: center;
  align-items: center;

    &:before {
      content: '\f425';
      font-size: 1rem;
      padding-right: .4rem;
      @extend .fontAwesomeBrands;
      cursor: pointer;
    }

    &:hover:before {
      transform: translateY(-2px);
    }

    button {
      background-color: transparent;
      cursor: pointer;
    }
}