.footer {
  padding-top: 1.5rem;
  background-color: $footerBlue;
  font-family: $RubikMedium;
  flex: 0 0 auto;

  &__box {
    background-color: $blue;
    padding: .5rem 0;
    margin-top: 1.5rem;

      p {
        font-size: $mdFont;
        display: flex;
        align-items: center;
      }
  }
}
.footer-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @include mq(sm) {
    flex-direction: row;
    justify-content: space-between;
  }

  p {
    margin-top: .5rem;
    justify-content: center;

    @include mq(sm){
      justify-content: flex-start !important;
      margin-top: 0rem;
    }
    @include mq(md){
      justify-content: center !important;
    }
  }
}
.footer-menu {
  justify-content: space-between;
}
.footer-nav {
  display: none !important;
  @include mq(sm){
    display: flex !important;
  }
}
.footer-nav-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;

  @include mq(sm) {
    display: none;
  }

  &__menu {

    &--right {
      position: relative;

      li {
        text-align: right;
      }

      &:before {
        content: '';
        position: absolute;
        width: 1px;
        background-color: $w;
        height: 90%;
        top: 11%;
        right: 0;
      }
    }
  }
}
