// ----- BUILD MOVIE - PAGE ----

// --- step-one ----
.step-one {
  background-color: transparent !important;
  padding: 0;

  &__box {
    background-color: rgba( 0, 93, 186, .9);
    margin: 0 auto;
    border-radius: initial;
    padding: 1rem .5rem;

    @include mq(sm) {
      border-radius: .5rem;
      padding: 1rem 2rem 2rem;
    }


  }
}
.gender-group-step {
   li {
     min-width: 14rem !important;
     margin: 0 .5rem;
     @include mq(xs) {
       width: 48%;
       margin: 0;
     }

   }
}
.list-name {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.name-list {
  &__title {
    margin-top: 1rem !important;
  }
}
// ---- step two -----

.step {
  &__btn {
    max-width: 20rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    @include mq(xs){
      flex-direction: row;
    }
  }
}

// ----- photo -----

.photo,
.words {
  padding: .3rem;
  max-width: 40rem;
  margin: 0 auto;
  background-color: rgba(0, 93, 186, 0.9);

  @include mq(sm) {
    border-radius: .5rem;
    padding: 1rem 2rem 1rem 2rem;
  }
}
.photo {
  padding: 1rem .5rem;
}

.words {
  margin-top: 1rem;
  padding: 1rem;
}
.words-list {
  margin-top: 1rem;
}

// ---- step-box -----
.step-box {
  padding: .5rem;
  max-width: 40rem;
  margin: 0 auto;
  background-color: rgba(0, 93, 186, 0.9);
  @include mq(sm) {
    border-radius: .5rem;
    padding: 1rem 2rem 1rem 2rem;
  }

  &__form {
    padding: 1rem;
    @include mq(xs){
      padding: 1rem 1.5rem;
    }
    @include mq(sm) {
      padding: 1rem 6rem 1rem 6rem;
    }
  }
}


