// -------- POP-UP ---------
.aunt {
  padding: 2rem;
  border: 2px solid $blue-light;
  position: fixed;
  @extend .elemCenter;
  background-color: $w;
  border-radius: .3rem;
  z-index: 99999;
  background-color: $w;
  max-width: 30rem;
  max-height: 20rem;
  display: none;
  margin: 0 1rem;
}
.aunt-box {

}
// ----- forms ----
.form-group {
  margin-bottom: .5rem;
}
