// ----- BUILD MOVIE - PAGE ----

// --- step-one ----
.step-one {
  background-color: transparent !important;
  padding: 0;

  &__box {
    background-color: rgba( 0, 93, 186, .9);
    margin: 0 auto;
    border-radius: initial;
    padding: 1rem .5rem;

    @include mq(sm) {
      border-radius: .5rem;
      padding: 1rem 2rem 2rem;
    }


  }
}
.gender-group-step {
   li {
     min-width: 14rem !important;
     margin: 0 .5rem;
     @include mq(xs) {
       width: 48%;
       margin: 0;
     }

   }
}
.list-name {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.name-list {
  &__title {
    margin-top: 1rem !important;
  }
}
// ---- step two -----

.step {
  &__btn {
    max-width: 20rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    @include mq(xs){
      flex-direction: row;
    }
  }
}

// ----- words -----

.words-list {
  margin-top: 1rem;
}

// --- cropit -----

.image-editor {
  &__box {
    display: none;
  }
}
.cropit-preview {
  background-color: rgba(255, 255, 255, 0.1);
  background-size: cover;
  border-radius: .5rem;
  width: 100%;
  height: 20rem;
  display: none;
  margin: .5rem auto 0 auto;

  &__ver {
    width: 12rem;
    height: 17rem;
    @include mq(xs){
      height: 23rem;
      width: 15rem;
    }
    @include mq(sm){
      height: 25rem;
      width: 55%;
    }
  }

  &__hor {
    width: 15rem;
    height: 10rem;
    @include mq(xs){
      height: 15rem;
      width: 25rem;
    }
    @include mq(sm){
      height: 17rem;
      width: 80%;
    }
  }
}
.cropit-preview-image-container {
  cursor: move;
}

// ----- video box ----
.cropit-video {
  background-color: rgba(255, 255, 255, 0.1);
  background-size: cover;
  border-radius: .5rem;
  display: none;
  margin: .5rem auto 0 auto;
  width: 15rem;
  height: 10rem;
  @include mq(xs){
    height: 15rem;
    width: 25rem;
  }
  @include mq(sm){
    height: 17rem;
    width: 80%;
  }
}

// ------- editor -----

.editor-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
  margin: 1rem auto 0 auto;
  @include mq(sm){
    flex-direction: row;
  }
}

.editor-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 15rem;
  margin: 0 auto;

  @include mq(xs) {
    max-width: 16rem;
  }
  @include mq(sm) {
    margin: 0;
  }

  li {
    margin: 0 .5rem;
    label {
      font-family: $RubikRegular;
      font-size: $mdFont;
      cursor: pointer;
      &:hover:before {
        color: $green;
      }
    }
  }
}

.editor-zoom {
  width: 90%;
  max-width: 13rem;
  display: flex;justify-content: center;
  align-items: center;
  position: relative;
  margin: 1.5rem auto;
  @include mq(sm) {
    margin: 0 auto;
    max-width: 10rem;
  }

  &:before {
    content:'\f056';
    @extend .fontAwesomeFree;
    position: absolute;
    display: flex;
    align-items: center;
    left: 0;
  }

  &::after {
    content:'\f055';
    @extend .fontAwesomeFree;
    position: absolute;
    display: flex;
    align-items: center;
    right: 0;
  }
}


.editor-deg {
  display: flex;
  margin: 0 auto;
  @include mq(sm) {
    margin: 0;
  }

  &__line {
    display: block;
    background-color: transparent;
    color: $w;
    padding: .3rem;
    margin: 0 .6rem;
    font-size: $degFont;
    @include mq(sm) {
      margin: 0 .3rem;
    }
    &:hover {
      color: $green;
    }

    &--left {

      &:before {
        content:'\f2f9';
        @extend .fontAwesomeFree;
        transform: rotateY(180deg);
      }
    }

    &--right {

      &:before {
        content:'\f2f9';
        @extend .fontAwesomeFree;
      }
    }
  }
}

// --- step form ----
.step-form {
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    @include mq(xs) {
      max-width: 23rem;
      flex-direction: row;
    }

    @include mq(sm) {
      max-width: 35rem;
    }

    label {
      width: 100%;
      font-family: $RubikMedium;
      text-align: center;
      @include mq(xs){
        text-align: right;
        width: 22%;
      }
    }
    input {
      width: 95%;
      @include mq(xs){
        width: 74%;
      }
    }

    textarea {
      width: 95%;
      @include mq(xs){
        width: 74%;
      }
    }
  }
}
