.header-top {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 999;

  &__logo {
    background-color: $w;
    border-radius: 0 0 .5rem .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 0 1rem 0;
    max-width: 10rem;
  }

  &__auth {
    font-size: $menuLittleFont;
    background-color: transparent;
    cursor: pointer;
    align-items: center;

    &:before {
      content: '\f007';
      font-size: 1rem;
      padding-right: .4rem;
      @extend .fontAwesomeFree
    }

    &:hover {
      color: $blue-light;
    }
  }

  &__lang {
    background-color: transparent;
    font-size: $menuLittleFont;

    &:before {
      content: '\f425';
      font-size: 1rem;
      padding-right: .4rem;
      @extend .fontAwesomeBrands;
      cursor: pointer;
    }

    &:hover:before {
      transform: translateY(-2px);
    }

    button {
      background-color: transparent;
      cursor: pointer;
    }
  }
  &__social {

    a {
      padding: 0 .4rem;

      &:before {
        @extend .fontAwesomeBrands
      }
    }

    &--fb {

      &:before {
        content: "\f082";
      }
    }
    &--yt {

      &:before {
        content: "\f431";
      }
    }
    &--inst {

      &:before {
        content: "\f16d";

      }
    }
  }
}
.header-lang {
  min-width: 3rem;
  &__item {
    padding: 5px;
    font-size: $menuLittleFont;

    &:hover {
      background-color: $blue-light;
      color: $w;
    }

  }
}
.header-menu {
  justify-content: space-around;
  display: flex;
}

