.top-slider {
  position: relative;
  z-index: 1;
  width: 100%;

  .slick-prev, .slick-next {
    display: none !important;
  }

  .slick-dots {
    position: absolute;
    right: 2%;
    bottom: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

      li {
        background-color: $blue-light;
        border-radius: 2.5rem;
        width: .5rem;
        height: .5rem;
        font-size: 0;
        color: transparent;
        margin: .2rem;
        padding: .3rem;
        border: none;
      }

      .slick-active {
        background-color: $blue;
        border-radius: 2.5rem;
        width: .5rem;
        height: .5rem;
        border: 2px solid $blue;
        font-size: 0;
        color: transparent;
      }
  }

}
.top-slider-box {
  position: absolute;
  padding: 0;
  top: 28%;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  &__img {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    img {
      width: 100%;
      max-width: 35rem;
      margin-top: -17%;
    }

  }
  &__content {
    max-width: 30rem;

    p {
      margin: 1.5rem 0;
    }
  }
}

.video-testimonials-wrap {
  position: relative;
  z-index: 1;
}

.testimonials-wrap {
  position: relative;
  z-index: 1;
}

.slick-prev, .slick-next {
  display: none !important;
}

.slick-dots {
  position: absolute;
  right: 0;
  bottom: -1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;

  li {
    border-radius: 2.5rem;
    font-size: 0;
    color: transparent;
    margin: .2rem;
    padding: .1rem;
    border: 2px solid $blue;
  }

  .slick-active {
    background-color: $blue-light;
    border-radius: 2.5rem;
    padding: .3rem;
    border: 2px solid $blue-light;
    font-size: 0;
    color: transparent;
  }
}