// ---- buttons text -----
.btn-text {
  text-transform: uppercase;
  font-size: $btnFont;
  font-family: $RubikMedium;

  &--blue {
    color: $blue;
  }

  &--sm {
    font-size: $smFont;
  }
  &--md {
    font-size: $mdFont;
  }
}

// ----- elements title -----
.title-text {
  font-size: $titleLgFont;

  &__md {
    font-size: $titleMdFont;
    text-transform: uppercase;
    color: $blue;
    text-align: center;
    padding: 1rem 0;
    @include mq(md){
      padding: 2rem 0;
    }

    &--white {
      color: $w;
    }
  }
  &__sm {
    font-size: $lgFont;
    color: $blue;
    line-height: 1.1;

    @include mq(md) {
      line-height: initial;
    }
  }

  &__xs {
    font-size: $baseFont;
    line-height: 1.1;
    @include mq(md) {
      line-height: initial;
    }

    &--black {
      color: $b;
    }
  }

  &__header{
    text-align: center;
    @include mq(xs){
      text-align: left;
    }
  }
  &__filter {
    font-size: $baseFont;
    font-family: $RubikMedium;
    text-transform: uppercase;
    line-height: 1.1;
    @include mq(md) {
      line-height: initial;
    }
  }

  &__step {
    padding: 1rem 0;
  }

  &__info {
    font-size: $info_t;
    font-family: $RubikMedium;
    color: $blue;
  }

  &__user {
    color: $dark-blue;
    font-family: $RubikRegular;
    font-size: $info_d;
  }

  &__account {
    font-size: $titleAccount;
    text-transform: uppercase;
    color: $blue;
    text-align: center;
    padding: 1rem 0;
    @include mq(md){
      padding: 2rem 0;
    }
  }

  &__article {
    text-transform: uppercase;
    line-height: 1.8;
  }
}

// ----- price text ----
.price-text {
  position: relative;
  color: $blue;
  text-transform: uppercase;

  &--red {
    color: $red;
  }
  &--lg {
    font-size: $priceFontLg;
  }


  &__discount {
    font-family: $RubikRegular;

    &:before {
      content: '';
      position: absolute;
      @extend .elemCenter;
      width: 100%;
      height: 3px;
      background-color: $red;
    }
  }

  &__currency {
    color: $blue;
    padding: 0 .25rem;
    font-size: $smFont;

    &--lg {
      font-size: $currencyFontLg;
    }

    &--red {
      color: $red;
    }
  }
}

// ----- common text -----

.desc-text {
  font-size: $descFont;
  font-family: $RubikRegular;

  &--black {
    color: $b;
  }
  &--red {
    color: $red;
  }
  &--blue {
    color: $blue;
  }

  &__md {
    font-size: $descMdFont;
  }

  &__name {
    font-family: $RubikMedium;
    color: $dark-blue;
    font-size: $baseFont;
    padding-right: .5rem;
  }
  &__city {
    color: $blue;
    font-style: italic;
    font-size: $baseFont;

  }

  &__data {
    color: $dark-blue;
    font-style: italic;
    font-size: $dataFont;

    &--right {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      align-items: center;
    }
  }

  &__article {
    color: $blue;
    background-color: transparent;
    font-size: $tabs;
    font-family: $RubikMedium;
  }

  &__admin {
    color: $red;
    font-style: italic;
    font-size: $baseFont;
  }

  &__header{
    text-align: center;
    @include mq(xs){
      text-align: left;
    }
  }
  &__info {
    font-size: $info_d;
    color: $dark-blue;
  }

  &__user {
    font-size: $info_d;
    color: $blue;
    font-family: $RubikRegular;
    position: relative;
    cursor: pointer;
    opacity: .8;
    &:hover {
      font-family: $RubikMedium;
      opacity: 1;
    }
    &:before {
      content: "\f058";
      @extend .fontAwesomeFree;
      padding-right: .1rem;
      margin-top: -.2rem;
    }
  }
}


