div.example-store
    <!----example video---->
    h2.text-center.title-text__md Видео пример
    <!----video box---->
    div.example-store-video.video-box
            include ../../../elements/video/video

