div.filter-store
    img.filter-store__bg(src='img/bg/elem/base2.png')
    h2.text-center.title-text__md.title-text__md--white Выберете ролик
    div.filter-store__box
        <!----filter lang---->
        div.filter-store-lang
            p.text-center.title-text__filter Язык
            ul.lang-group.radio-group
                li
                    input.checkbox( type="checkbox" name="lang"  id="rus" value="Русский" checked)
                    label(for="rus") Русский
                li
                    input.checkbox( type="checkbox" name="lang" id="eng" value="English")
                    label(for="eng") English
                li
                    input.checkbox( type="checkbox" name="lang" id="pld" value="Polish")
                    label(for="pld") Polish
                li
                    input.checkbox( type="checkbox" name="lang" id="prt" value="Portuguese")
                    label(for="prt") Portuguese
        <!----filter age---->
        div.filter-store-age
            p.text-center.title-text__filter Кому
            ul.age-group.radio-group
              li
                input.checkbox( type="radio" name="age"  id="child" value="Ребенок" checked)
                label(for="child") Ребенок
              li
                input.checkbox( type="radio" name="age" id="adult" value="Взрослый")
                label(for="adult") Взрослый
        <!----filter gender---->
        div.filter-store-gender
            p.text-center.title-text__filter Пол
            ul.gender-group.radio-group
                li
                    input.checkbox( type="radio" name="gender" id="all" value="Всем" checked)
                    label.active-radio(for="all") Всем
                li
                    input.checkbox( type="radio" name="gender" id="girl" value="Девочки")
                    label(for="girl") Девочка
                li
                    input.checkbox( type="radio" name="gender" id="boy" value="Мальчик")
                    label(for="boy") Мальчик
        <!----filter box---->
        div.filter-store-box
            <!----list event---->
            div.filter-store-event.list
                p.text-center.title-text__filter Мероприятие
                div.event-list
                    p.list__title.dropdown-toggle( data-toggle="dropdown" data-id="" role="button" aria-expanded="false") День рождение
                    mixin event-list(name_id, name_event)
                        li.elem(id=name_id)
                            span= name_event
                    ul.list__wrap.dropdown-menu
                        +event-list('12','День рождение')
                        +event-list('14','Новый год')
            <!----list people---->
            div.filter-store-people.list
                p.text-center.title-text__filter Количество человек
                div.people-list
                    p.list__title.dropdown-toggle( data-toggle="dropdown" role="button" aria-expanded="false") Видео для 1 человека
                    mixin people-list(name_id, num)
                        li.elem(id=name_id)
                            span= num
                    ul.list__wrap.dropdown-menu
                        +people-list('1','Видео для 1 человека')
                        +people-list('2','Видео для 2 человек')
                        +people-list('3','Видео для 3 человек')
                        +people-list('4','Видео для 4 человек')
                        +people-list('5','Видео для 5 человек')


