div.filter-store
    h2.text-center.title-text__md.title-text__md--white Фильтр
    div.filter-store__box
        div.filter-store-age
            p.text-center.title-text__xs Кому
            div
                <label class="container">One
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
                </label>

                label.container Two
                    input.checkbox
                    span.checkmark
        div.filter-store-gender
            p.text-center.title-text__xs Пол
            div
        div
            div.filter-store-event
                p.text-center.title-text__xs Мероприятие
            div.filter-store-people
                p.text-center.title-text__xs Количество человек


