$googleFont: "https://fonts.googleapis.com/css?family=Open+Sans:400,700";
$openSans: 'Open Sans', sans-serif;


@font-face {
  font-family: "Rubik-Black";
  src: url("../fonts/Rubik-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik-Bold";
  src: url("../fonts/Rubik-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik-Light";
  src: url("../fonts/Rubik-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik-Medium";
  src: url("../fonts/Rubik-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik-Regular";
  src: url("../fonts/Rubik-Regular.ttf") format("truetype");
}

