// Font size
$baseFont: 20px;
$menuLinksFont: .7rem;
$menuLittleFont: .6rem;

// Break points
$mobile: 576px;
$tablet:  768px;
$desktop: 992px;
$maxWidth: 1460px;



// Paths
$imgPath: "../img/icons";
$usersPath: "../userfiles/";
$fontPath: "../fonts/";

// Colors
$b: #000000;
$w: #ffffff;
$red: #eb2201;
$blue: #005dba;
$blue-light: #1fc0ff;