// Font size
$baseFont: 20px;

$menuLinksFont: calc(14px + (14 - 12) * (100vw - 1920px) / (1920 - 480));
$menuLittleFont: calc(12px + (12 - 11) * (100vw - 1920px) / (1920 - 480));

$smFont: calc(12px + (12 - 11) * (100vw - 1920px) / (1920 - 480));
$mdFont: calc(16px + (16 - 14) * (100vw - 1920px) / (1920 - 480));
$lgFont: calc(25px + (25 - 20) * (100vw - 1920px) / (1920 - 480));

$btnFont: calc(16px + (16 - 12) * (100vw - 1920px) / (1920 - 480));

$descFont: calc(16px + (16 - 14) * (100vw - 1920px) / (1920 - 480));
$descMdFont: calc(15px + (15 - 12) * (100vw - 1920px) / (1920 - 480));

$titleLgFont: calc(50px + (50 - 28) * (100vw - 1920px) / (1920 - 480));
$titleMdFont: calc(35px + (35 - 24) * (100vw - 1920px) / (1920 - 480));
$titleSmFont: calc(20px + (20 - 15) * (100vw - 1920px) / (1920 - 480));

$holderFont: calc(14px + (14 - 12) * (100vw - 1920px) / (1920 - 480));

// Font family
$RubikBlack: "Rubik-Black";
$RubikBold: 'Rubik-Bold';
$RubikLight: 'Rubik-Light';
$RubikMedium: 'Rubik-Medium';
$RubikRegular: 'Rubik-Regular';


// Break points
$mobile: 576px;
$tablet:  768px;
$desktop: 992px;
$maxWidth: 1460px;


// Paths
$imgPath: "../img/icons";
$usersPath: "../userfiles/";
$fontPath: "../fonts/";

// Colors
$b: #000000;
$w: #ffffff;
$red: #eb2201;
$blue: #005dba;
$blue-light: #1fc0ff;
$footerBlue: #081d4d;
$bgGray: #f8f8f8;
$bgBlue: #1244b7;
$holder: #c8c8c8;

