mixin video-testi-box(src, name_user, city, desc)
    <!----testimonials-box----->
    div.row
     div.testimonials__box.justify-content-between.d-flex.col-md-8.mx-auto
        img.testimonials__avatar(src=src)
        div
            div.d-flex
                p.desc-text.desc-text__name= name_user
                p.desc-text.desc-text__city= city
            p.desc-text.desc-text--black.desc-text__md.margin-text-y= desc
div.testimonials-wrap.testimonials-slider.col-12
    <!----testimonials-block----->
    +video-testi-box(
        'img/common/circle-chl.png',
        'Вася',
        'Одесса',
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in '
    )
    <!----testimonials-block----->
    +video-testi-box(
    'img/common/circle-chl.png',
    'Вася',
    'Одесса',
    'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in '
    )
    <!----testimonials-block----->
    +video-testi-box(
    'img/common/circle-chl.png',
    'Вася',
    'Одесса',
    'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in '
    )
