div.video-testimonials.padding-y
    div.container
        div.row
            <!----title-name----->
            h2.col-12.title-text__md Видео Отзывы
            include ../sliders/slider_video
            include ../../elements/buttons/button_show-all
    img.bg-img(src="img/bg/elem/base4.png")