div.filter
    div.aunt.mx-auto
        p.close
        div.aut-box
            form
                p.title-text__sm.text-center Авторизация
                div.form-group
                    input( type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Логин" required='required')
                div.form-group
                    input( type="password" class="form-control" id="exampleInputPassword1" placeholder="Пароль")
                p.desc-text__md.desc-text--red.text-center Неверный логин или пароль
                include ../../elements/buttons/button_come-in
            button.btn.btn__forgot-pass.m-auto Забыли пароль?
            p.desc-text__md.desc-text--blue.text-center.m-1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias ea fugit itaque perspiciatis tempore, voluptate?