<!---footer--->
footer.footer
    <!---footer-nav--->
    div.container
        div.row
            div.d-md-flex.justify-content-between.align-self-center.col
                <!---logo_home-link--->
                a(href='#').col-md-2.justify-content-center.d-flex
                    img(src='/img/icons/footer-logo.png').logo.logo__footer
                mixin footer-menu(href, link)
                    li.col-md-4
                        a.menu__link(href=href)= link
                <!---navbar-link--->
                nav.col-6.offset-lg-1.d-flex.align-self-center.footer-nav
                    ul.menu.footer-menu.flex-wrap
                        +footer-menu("video_store.html", 'Детям')
                        +footer-menu("#", 'Отзывы')
                        +footer-menu("support.html", 'Помощь')
                        +footer-menu("video_store.html", 'Взрослым')
                        +footer-menu("#", 'Блог')
                        +footer-menu("#", 'О нас')
                <!---end-nav--->
                <!---mobile-nav--->
                nav.footer-nav-mobile
                    ul.footer-nav-mobile__menu.col-6.footer-nav-mobile__menu--right
                        +footer-menu("video_store.html", 'Детям')
                        +footer-menu("video_store.html", 'Взрослым')
                        +footer-menu("#", 'Отзывы')
                    ul.footer-nav-mobile__menu.col-6
                        +footer-menu("#", 'Блог')
                        +footer-menu("support.html", 'Помощь')
                        +footer-menu("#", 'О нас')
                <!---mobile-nav-end--->

                div.col-md-3.offset-lg-1.col-lg-2.menu__contacts
                    a(href='mailto:videojoy@gmail.com' ) videojoy@gmail.com
                    a(href='tel:+380934484433') +38(093)654-32-11
        <!---footer-box---->
    div.footer__box
        div.container
            div.row
                div.footer-box.col
                    p.col-md-3.col-lg-2.justify-content-center.order-1.order-md-0 JoyVideo 2019
                    <!---info-link---->
                    div.col-md-7.col-lg-6.menu__info
                        a(href='#').col-md-7 Пользовательское  соглашение
                        a(href='#').col-md-5 Возврат средств
                    <!---social-links--->
                    div.socials.col-md-2.justify-content-center.socials__footer
                        a(href="#").socials__fb
                        a(href="#").socials__yt
                        a(href="#").socials__inst
<!---footer-end--->

script(src="../js/librarys/jquery.min.js")
script(src="../js/librarys/bootstrap.min.js")
script(src="../js/librarys/slick.min.js")
script(src="../js/librarys/wow.min.js")
script(src="../js/librarys/jquery.cropit.js")
script(src="../js/main.js")