<!---footer--->
footer.footer
    <!---footer-nav--->
    div.container
        div.row.d-flex.justify-content-between.align-self-center
            <!---logo_home-link--->
            a(href='#').col-2
                img(src='/img/icons/logo.png').logo
            mixin footer-menu(href, link)
                li.col-4
                    a.menu__link(href=href)= link
            <!---navbar-link--->
            nav.col-6.offset-1.d-flex.align-self-center
                ul.menu.footer-menu.flex-wrap
                    +footer-menu("#", 'Детям')
                    +footer-menu("#", 'Отзывы')
                    +footer-menu("#", 'Помощь')
                    +footer-menu("#", 'Взрослым')
                    +footer-menu("#", 'Блог')
                    +footer-menu("#", 'О нас')
            <!---end-nav--->
            div.col-2.offset-1.menu__contacts
                a(href='#') videojoy@gmail.com
                a(href='#') +38(093)654-32-11
    <!---footer-box---->
    div.footer__box
        div.container
            div.row.d-flex.align-self-center
                p.col-2 JoyVideo 2019
                <!---info-link---->
                div.offset-1.col-6.menu__info
                    a(href='#').col-7 Пользовательское  соглашение
                    a(href='#').col-4 Возврат средст
                <!---social-links--->
                div.socials.col-1.offset-1
                    a(href="#").socials__fb
                    a(href="#").socials__yt
                    a(href="#").socials__inst

<!---footer-end--->
script(src="../js/_librarys/jquery.min.js")
script(src="../js/_librarys/bootstrap.min.js")
script(src="../js/_librarys/slick.min.js")
script(src="../js/_librarys/wow.min.js")
script(src="../js/main.js")