

script(src="../js/_librarys/jquery.min.js")
script(src="../js/_librarys/bootstrap.min.js")
script(src="../js/_librarys/slick.min.js")
script(src="../js/_librarys/wow.min.js")
script(src="../js/main.js")