<!---header--->
header.container.header-top
    <!---header-nav--->
    div.row
        <!---logo_home-link--->
        a(href='index.html').header-top__logo.col-2.offset-1.offset-sm-0
            img(src='/img/icons/header-logo.png').logo
        mixin header-menu(href, name_link)
            li
                a.menu__link(href=href)= name_link
        <!---navbar-link--->
        include ../elements/buttons/button_mobile-menu
        div.col-lg-10.header-nav-box
            nav.col-lg-5.col-md-3.col-5
                ul.menu.header-menu.col
                    +header-menu("video_store.html", "Детям")
                    +header-menu("video_store.html", "Взрослым")
                    +header-menu("#", "Отзывы")
                    +header-menu("#", "Блог")
            div.col-lg-6.header-nav-box__cont.offset-lg-1.col-md-4.col-7
                button.btn__auth.text-center.d-flex.align-self-center.btn-text.btn-text--sm Личный кабинет
                <!---lang--->
                div.nav.lang-menu
                    mixin header-lang(href, name_lang)
                        li.header-lang__item
                            a(href=href)= name_lang
                    div.dropdown
                        a.dropdown-toggle.lang-menu__button(href="#" data-toggle="dropdown" role="button" aria-expanded="false") Русский
                            span.caret
                        ul.dropdown-menu.header-lang(role="menu")
                            +header-lang('#', "Русский")
                            +header-lang('#', "English")
                            +header-lang('#', "Polish")
                            +header-lang('#', "Portuguese")
                <!---social-links--->
                div.socials.col-lg-1.socials__header
                    a(href="#").socials__fb
                    a(href="#").socials__yt
                    a(href="#").socials__inst
        <!---end-nav--->
<!---header-end--->
<!----pop-up---->
include pop-up/auth_pop-up
<!----pop-up-end---->



