include components/head
<!----header-box---->
include components/header-red
main
    div.container
        div.col.articles-wrap.col.col-md-10.col-lg-12
            <!----content blog---->
            include components/blocks/blog/block_articles
            <!----content blog end---->
            <!----content blog---->
            include components/blocks/blog/block_list-articles
            <!----content blog end---->

include components/footer