include components/head
include components/header
main
    <!----top-slider---->
    include components/sliders/slider_top
    <!----top-slider-end---->
    <!----info----->
    include components/blocks/home-page/block_how
    <!----info-end----->
    <!----recommended----->
    include components/blocks/home-page/block_recommended-video
    <!----recommended-end---->
    <!----advantages----->
    include components/blocks/home-page/block_advantages
    <!----advantages-end----->
    <!----video-testimonials----->
    include components/blocks/home-page/block_testimonials-video
    <!----video-testimonials-end----->
    <!----testimonials----->
    include components/blocks/home-page/block_testimonials
    <!----testimonials-end----->
include components/footer