include components/header
main
    <!----top-slider---->
    include components/sliders/slider_top
    <!----top-slider-end---->
    <!----info----->
    include components/blocks/block_how
    <!----info-end----->
    <!----recommended----->
    include components/blocks/block_recommended-video
    <!----recommended-end----->








include components/footer