include components/head
include components/header-red
main
    include components/blocks/build-moivie/block_create-movie
    include components/blocks/build-moivie/block_step-one
    include components/blocks/build-moivie/block_step-two
    include components/blocks/build-moivie/block_step-three




include components/footer