include components/head
<!----header box---->
include components/header-red
main
    <!----create movie---->
    include components/blocks/build-moivie/block_create-movie
    <!----create movie end---->
    <!----step one---->
    include components/blocks/build-moivie/block_step-one
    <!----step one end---->
    <!----step two---->
    include components/blocks/build-moivie/block_step-two
    <!----step two end---->
    <!----step three---->
    include components/blocks/build-moivie/block_step-three
    <!----step three end---->
    <!----step ---->




include components/footer