include components/head
<!----header box---->
include components/header-red
main
    <!----video box---->
    include components/blocks/support/block_video
    <!----video box end---->
    <!----questions---->
    include components/blocks/support/block_support-form
    <!----questions end---->

include components/footer