include components/head
<!----header-box---->
include components/header-red
main
    <!----example-box---->
    include components/blocks/video_store/block_example-video
    <!----example end---->
    <!----filter-box---->
    include components/blocks/video_store/block_filter-store
    <!----filter-end---->
    <!----all video-box---->
    include components/blocks/video_store/block_all-video
    <!----all video-end---->
include components/footer