include components/head
include components/blocks/video_store/block_header-store
main
    include components/blocks/video_store/block_example-video
    include components/blocks/video_store/block_filter-store
    include components/blocks/video_store/block_all-video
include components/footer