div.col-12.support-questions
    <!----title text---->
    p.title-text__sm.text-center.title-text__article Часто задаваемые вопросы
    div.questions.mx-auto.col-lg-10.col-xl-8.col-12
        div.questions-box
            p.questions-box__q.title-text__info Как создать видео?
            p.questions-box__answer.desc-text.desc-text--black.desc-text__md Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci ea eaque error explicabo fuga iusto maiores possimus soluta veniam voluptate.
        div.questions-box
            p.questions-box__q.title-text__info Как вернуть деньги?
            p.questions-box__answer.desc-text.desc-text--black.desc-text__md Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci ea eaque error explicabo fuga iusto maiores possimus soluta veniam voluptate.
        div.questions-box
            p.questions-box__q.title-text__info Как прислать видео?
            p.questions-box__answer.desc-text.desc-text--black.desc-text__md Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci ea eaque error explicabo fuga iusto maiores possimus soluta veniam voluptate.
