div.col-sm-10.col-12.mx-auto.support
    <!----title text---->
    h2.text-center.title-text__md Помощь
    <!----video box---->
    div.support-video.video-box.col-11.col-xl-12
        include ../../../elements/video/video
    include block_questions
