// ------ buttons ------
.btn {
  border-radius: 2.5rem;
  padding: .6rem 1rem .5rem 1rem;
  margin: 0 .5em;
  //----------
  &__free {
    background-color: $blue;

    &:hover {
      background-color: $blue-light;
      color: $w;
    }

    &--red {
      background-color: $red;
      margin: 0 auto;
      padding: .6rem 2rem .5rem 2rem;

      &:hover {
        background-color: $blue-light;
      }
    }
  }
  //----------
  &__example {
    background-color: $w;

    &:hover {
      background-color: $blue-light;
      color: $w;
    }
  }
  //----------
  &__all {
    color: $w;
    padding: .24rem 1rem .1rem 1rem;
    margin: 0 auto;
    background-color: $blue-light;

    &:hover {
      background-color: $blue;
      color: $w;

    }
  }
  //----------
  &__create {
    background-color: $red;
    padding: .6rem 2rem .5rem 2rem;
    color: $w;

    &:hover {
      background-color: $blue-light;
      color: $w;
    }
  }
  //----------
  &__more {
    background-color: $w;
    border: 2px solid $blue;
    padding: .24rem 1rem .1rem 1rem;


    &:hover {
      background-color: $red;
      border: 2px solid $red;
      color: $w;
    }
  }

}