
body,html {
  margin: 0;
  padding: 0;
  font-size: $baseFont;
  position: relative;
  font-family: $RubikBold;
  color: $w;

  * {
    outline: none;
    opacity: 1;
    list-style: none;
    border: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  p {
    cursor: default;
  }
}

// Media
img, embed,
object, audio, video {
  height: auto;
  max-width: 100%;
}
.mobile-only{
  display: none !important;
}
.container {

  @include mq(xl) {
    max-width: 1400px;
  }
}
