div.list-articles.col-12.col-xs-8.col-lg-3
    p.title-text__sm.text-center.title-text__article Темы
    div.list-articles__box
        p.desc-text__article.list-act  Мир
        p.desc-text__article Огороды
        p.desc-text__article Космос
        p.desc-text__article Пауки