div.articles-in.col-12.col-lg-9
    div.row
        div.col-12
            <!----title-name----->
            h2.col-12.title-text__md Блог
            div.articles-in__content
                div.articles-in-img
                    img(src="../../../img/2-1.jpg")
                div.articles-in-title
                    p.title-text__xs.title-text__xs--black.my-3.articles-in-title__title  Новая новость очень крутая
                    p.desc-text.desc-text__data.desc-text__data--right.articles-in-title__data 12.12.21
                p.desc-text.desc-text--black.desc-text__md Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda atque corporis cum error exercitationem explicabo ipsam labore maiores maxime modi, molestiae odit quae quam, voluptate voluptatem voluptates? Ab aliquid atque consequatur culpa dolor doloremque dolorum eligendi est expedita impedit ipsa ipsam iure laborum maiores mollitia neque, nisi odit perspiciatis placeat provident quae quidem quod rem soluta tempore totam ullam.
                div.articles-in-img
                    img(src="../../../img/wolf.jpg")
                div.articles-video.video-box
                    include ../../../elements/video/video
    div.article-btn.col-12
        include ../../../elements/buttons/button_prev-article
        include ../../../elements/buttons/button_next-article
