div.testimonials.padding-y
    div.container
        div.row
            <!----title-name----->
            h2.col-12.title-text__md Отзывы
            include ../../sliders/slider_testimonials
            include ../../../elements/buttons/button_show-all
    img.bg-img(src="img/bg/elem/base4.png")