div.how-info.padding-y
    div.container.how-info__box
        <!----img-bg----->
        img(src='img/common/elem-bg.png').how-info-box__img
        <!----content-block----->
        div.row
            h2.col-12.text-center.title-text__md Как мы это делаем
            div.col-12.d-flex.justify-content-between.how-info__content.flex-wrap
                div.col-lg-5.col-md-10.m-md-auto.order-1.order-lg-0
                    p.desc-text.desc-text--black Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet assumenda at atque culpa cupiditate dignissimos, dolores ducimus earum, eligendi enim fugiat maiores natus nesciunt odit perferendis porro provident quia quo reiciendis soluta ullam unde voluptatem! Alias amet consequatur eveniet ipsam reprehenderit sequi totam vitae? At cumque enim numquam tempora?
                    include ../../../elements/buttons/button_create-video
                div.col-lg-7.how-video.video-box.col-md-12.my-3.my-lg-0.order-lg-1
                    include ../../../elements/video/video
