div.step-two
    h2.text-center.title-text__md.title-text__step Вставте видео
    div.step-box__photo.step-box
        <!----video editor----->
        div.image-editor
            <!----video loader----->
            include ../../../elements/buttons/button_load-video
            <!----video----->
            div.cropit-video

    <!----words----->
    div.filter-store-box.step-box__words.step-box
        div.filter-store-words
            p.text-center.title-text__filter Выберите фразу
            <!----words list----->
            div.words-list
                p.list__title.words-list__title.dropdown-toggle(data-toggle="dropdown" role="button" aria-expanded="false") Фраза не выбрана
                mixin event-list(name_event)
                    li
                        span= name_event
                ul.list__wrap.dropdown-menu
                    +event-list("Ого как классно!")
                    +event-list('Как круто, просто огонь!')
    <!----buttons box----->
    div.step__btn
        include ../../../elements/buttons/button_prev
        include ../../../elements/buttons/button_next






