div.filter-store.step-one
    h2.text-center.title-text__md.title-text__step Этап 1
    div.filter-store__box.step-one__box.step-box
        <!----filter gender----->
        div.filter-store-gender
            p.text-center.title-text__filter Пол
            <!----gender----->
            ul.gender-group-step.radio-group
                li
                    input.checkbox( type="radio" name="gender" id="girl" value="Девочка")
                    label(for="girl") Девочка
                li
                    input.checkbox( type="radio" name="gender" id="boy" value="Мальчик")
                    label(for="boy") Мальчик
        <!----filter box----->
        div.filter-store-box
            div.filter-store-name.list-name
                p.text-center.title-text__filter Выбор имени
                <!----name list----->
                div.name-list
                    p.list__title.name-list__title.dropdown-toggle(data-toggle="dropdown" role="button" aria-expanded="false") Имя не выбрано
                    mixin event-list(name_event)
                        li
                            span= name_event
                    ul.list__wrap.dropdown-menu
                        +event-list("Леша")
                        +event-list('Саша')
include ../../../elements/buttons/button_next



