div.step-three
    h2.text-center.title-text__md.title-text__step Этап 3
    div.step-box.step-box__form
        form
            div.form-group
                input( type="text" class="form-control" placeholder="ФИО" required='required')
            div.form-group
                input( type="phone" class="form-control" placeholder="Телефон" required='required')
            div.form-group
                input( type="email" class="form-control" placeholder="Email" required='required')
            div.form-group
                input( type="text" class="form-control" placeholder="Город" required='required')


    div.step__btn
        include ../../../elements/buttons/button_prev
        include ../../../elements/buttons/button_next



