div.creating-video
    h2.text-center.title-text__md Ваш ролик готовиться ...
    div
        img(src="../img/icons/camera.png")
        img(src="../img/745.gif")

        p.desc-text--blue Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dignissimos distinctio eaque eius quo voluptas.

    <!----movie------>
    div.example-store-video.video-box.create-movie-video
        include ../../../elements/video/video







