div.example-store.create-movie
    h2.text-center.title-text__md Создание ролика
    <!----movie------>
    div.example-store-video.video-box.create-movie-video
            include ../../../elements/video/video

