div.step-two
    h2.text-center.title-text__md.title-text__step Этап 2
    div.photo
        include ../../../elements/buttons/button_load
        div.photo-editor
            div.photo-editor__photo.photo-editor__photo--gor
                img(src='img/family-s.jpg')
            div.photo-editor__editor
                ul.editor-position
                    li
                        input.edit( type="radio" name="positions" id="ver" value="Вертикально" checked)
                        label.edit__ver(for="ver") Вертикально
                    li
                        input.edit.edit__ver( type="radio" name="positions" id="gor" value="Горизонтально")
                        label.edit__ver(for="gor") Горизонтально
                div.editor-size
                    p.editor-size__line
                        span
                div.editor-deg
                    button.editor-deg__line--left.editor-deg__line
                    button.editor-deg__line--right.editor-deg__line



    div.filter-store-box.words
        div.filter-store-words
            p.text-center.title-text__filter Выберите фразу
            div.words-list
                p.list__title.words-list__title.dropdown-toggle(data-toggle="dropdown" role="button" aria-expanded="false") Фраза не выбрана
                mixin event-list(name_event)
                    li
                        span= name_event
                ul.list__wrap.dropdown-menu
                    +event-list("Ого как классно!")
                    +event-list('Как круто, просто огонь!')
    div.step__btn
        include ../../../elements/buttons/button_prev
        include ../../../elements/buttons/button_next



