div.testim
    div.container
        div.row
            ul.col-12.testim-radio.radio-group
                li
                    input.checkbox.account-check( type="radio" name="testi"  id="testi" value="Отзывы" checked)
                    label(for="testi") Отзывы
                li
                    input.checkbox.account-check( type="radio" name="testi" id="testi-v" value="Видео отзывы")
                    label(for="testi-v") Видео отзывы

            <!----- text testimonials ------>
            include block_text-testim
            <!----- video testimonials ------>
            include block_video-testim
<!----- textarea ------>
include block_textarea





