div#testim-textarea.testim__textarea
    div.testim-textarea
        div.testim-box
            div.user-photo__img.testim-box__avatar
                img(src="img/common/circle-chl.png")
            div.testim-box__text
                div.d-flex
                    p.desc-text.desc-text__name Коля
                    p.desc-text.desc-text__city New Vazilki
                form#testim-form.testim-form
                    textarea(maxlength="1200" minlength="5" placeholder="Введите текст" required)
        include ../../../elements/buttons/button_sub-t
    div.testim-info
        img(src="../../../img/icons/camera.png")
        p.desc-text--blue.text-center Отзывы могут оставлять только авторезированые пользователи
    div.testim-mail
        img(src="../../../img/icons/camera.png")
        p.desc-text--blue.text-center Свое видео вы можете прислать к нам на почту
        a.desc-text__city(href="mailto:videojoy@gmail.com") videojoy@gmail.com






