div.testim
    div.container
        div.row
            ul.col-12.testim-radio.radio-group
                li
                    input.checkbox.account-check( type="radio" name="testim"  id="testi" value="Отзывы")
                    label(for="testi") Отзывы
                li
                    input.checkbox.account-check( type="radio" name="testi" id="testi-m" value="Видео отзывы")
                    label(for="testi-m") Видео отзывы
