div.col-7.how-video
    iframe.d-flex.justify-content-center(src="https://www.youtube.com/embed/pAgnJDJN4VA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)