div.col-sm-10.col-12.mx-auto.about
    <!----title text---->
    h3.title-text__sm.text-center.title-text__article.about__desc Как мы это делаем
    <!----video box---->
    div.about-video.video-box.col-11.col-xl-12
        include ../../../elements/video/video
    div.row
        p.desc-text.desc-text--black.about__text.m-auto.col-10.col-md-11 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aut cum dolore et expedita fuga in magni quibusdam repellat voluptate. Consectetur et harum, hic odio quae quibusdam repellat sapiente voluptatibus. Autem id illo incidunt minima mollitia necessitatibus officia recusandae tempora.