div.about-history
    div.about-history__content.container
        div.row
            div.col-11.m-auto
                h3.title-text__sm.text-center.title-text__article Как мы это делаем
                p.desc-text.desc-text--black.m-auto Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aut cum dolore et expedita fuga in magni quibusdam repellat voluptate. Consectetur et harum, hic odio quae quibusdam repellat sapiente voluptatibus. Autem id illo incidunt minima mollitia necessitatibus officia recusandae tempora.
                p.desc-text.desc-text--black.m-auto Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dignissimos dolorum ea facere ipsam itaque magni numquam perspiciatis quidem recusandae rerum unde, ut vel. Deserunt dolorem ipsum magnam molestiae nemo, nesciunt obcaecati officia omnis quam, repellat repudiandae saepe velit, vero. Aperiam aut autem beatae delectus, dicta, et laborum modi numquam officia quaerat sint vero voluptatem. Accusamus aperiam, asperiores assumenda cupiditate dignissimos dolor doloribus earum esse, explicabo in modi, nihil nobis numquam odit quas ratione sunt. Aliquam explicabo illum ipsam nemo praesentium quasi saepe tempore totam veniam voluptatum. Ab illo quos veniam. At fugit, ipsa minus mollitia odio quis reiciendis ut!
    img.bg-img(src="img/bg/elem/base3.png")
